name: CI

on:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
        - "3.9"
        - "3.10"
        - "3.11"

    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version : ${{ matrix.python-version }}

      - name: Install dependencies
        run: | 
          python -m pip install -r requirements.txt

      - name: Run tests
        run: |
          python -m unittest discover -v


