name: Linting Linux

on:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
        - "3.11"

    name: linting
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version : ${{ matrix.python-version }}

      - name: Install flake8
        run: | 
          python -m pip install flake8

      - name: Check format without making corrections
        run: |
          flake8
