name: Unit Test Linux

on:
  workflow_run:
    workflows: [Linting Linux]
    types:
      - completed

jobs:
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
        - "3.11"

    name: unit-test
    runs-on: ${{ matrix.os }}
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version : ${{ matrix.python-version }}

      - name: Install dependencies
        run: | 
          python -m pip install -r requirements.txt

      - name: Check if installed packages confirm with requirements.txt
        run: |
          pip freeze -r requirements.txt

      - name: Run tests
        run: |
          python -m unittest discover -v
