name: Unit Test Linux

on:
  push:
  # pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
        - "3.11"

    name: unit-test
    runs-on: ${{ matrix.os }}
    # runs-on: python:alpine

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version : ${{ matrix.python-version }}

      - name: Install dependencies
        run: | 
          python -m pip install -r requirements.txt

      - name: Check if installed packages confirm with requirements.txt
        run: |
          pip freeze -r requirements.txt

      - name: Run tests
        run: |
          coverage run --source=funcs --branch -m unittest discover -v

      - name: Build coverage report
        run: |
          coverage report -m
          coverage xml

      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v3
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          # If you use a different name, update COMMENT_ARTIFACT_NAME accordingly
          name: python-coverage-comment-action
          # If you use a different name, update COMMENT_FILENAME accordingly
          path: python-coverage-comment-action.txt
